<h1>I'm on a boat!!</h1>
<img src = "/images/nexie.gif"/>
<div class="new">
Register yourself as a <a href="guests/new">guest</a>.  
</div>
<div class="all">
Or if you've already signed up, <a href="guests">see everyone else</a>. 
</div>
