<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "style" %>
<title>Scituation</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<h1 id="sitename" title="RS16"><a href="/#">Scituate 2012</a><span class="smalltext">Jesse's birthday beach party</span></h1>

<div id="content">
<span id="content-top"></span>
<div id="content-inner" class="normalpage2">
<div id="pagetitle">
</div>
  <div id="homepageposts">
  <div class="post">
    <div class="postcontent">
     <%=yield%>
    </div>
  <div class="clear"></div>
</div>
  
</div>



  
</div>
<span id="content-bottom"></span>
</div>



<div id="main-nav">
<ul>
<li><a href="/" title="Home Page"><img src="/images/home.png" alt="home" width="28" height="24" /></a></li>

<li><a href="/guests/new" title="Sign Up"><img src="/images/works.png" alt="normalpage" width="28" height="21" /></a></li>
<li class="active"><a href="/guests" title="Guest List"><img src="/images/blog.png" alt="downloads" width="28" height="23" /></a></li>
</ul>


</div>


<div class="clear"></div>

</div>

</body>
</html>
